<h2>Adicionar Produto</h2>

<form method="post">
    
    <div:>
        <label for="txtNome">Nome:</label>
        <input type="text" name="nome" id="txtNome" autofocus>
    </div:>

    <div:>
        <label>Preço:</label>
        <input type="text" name="preco">
    </div:>

    <div:>
        <label>Tipo:</label>
        <input type="text" name="tipo">
    </div:>

    <div:>
        <label>Quantidade:</label>
        <input type="text" name="Quantidade">
    </div:>
    
    <input type="submit" value="Salvar com input">
    
</form>