<h2>Adicionar Produto</h2>

<form method="post">
    
    <div:>
        <label for="txtNome">Nome:</label>
        <input type="text" name="nome" id="txtNome" value="@Model.Nome" autofocus>
    </div:>

    <div:>
        <label>Preço:</label>
        <input type="text" name="preco" value="@Model.Preco">
    </div:>

    <div:>
        <label>Tipo:</label>
        <input type="text" name="tipo" value="@Model.Tipo">
    </div:>

    <div:>
        <label>Quantidade:</label>
        <input type="text" name="Quantidade" value="@Model.Quantidade">
    </div:>
    
    <button>Salvar</button>
    <a href="~/Produtos">Cancelar</a>
    
</form>